* {
    box-sizing: border-box;
}

body {
    font-family: 'Girassol', cursive;
    background-image: url("../images/pink-and-white-stones-2942855.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1060px;
    margin: auto;
    clear: both;
}

#main-section{
    margin: auto;
}
p{
    line-height: 35px;
}

h1 {
    font-size: 40px;
    text-emphasis: bold;
    margin-bottom: 20px;
}

.crystal-image {
    height: 200px;
    width: 200px;
    

}

/* Styling to the text  */
#collected,
#wins,
#losses,
#rounds {
    font-size: 40px;
    text-emphasis: bold;
    
}

/* Styling to directions and centering them */
#directions {
    margin: 20px 0 20px 0;
    text-emphasis: bold;
    text-align: center;
    line-height: normal;
    font-size: x-large;
}

